name: CodeCov

on: [push, pull_request, workflow_call]

jobs:
  build:
    runs-on: ubuntu-latest
    uses: bwallrich/stricto/.github/workflows/pylint.yml@main
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: run tests and coverage
      run: |
        coverage run -m unittest
    - name: Coverage Badge
      uses: tj-actions/coverage-badge-py@v2    